@using RunGroopWebApp.Data.Enums
@model Club
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title"/>
            <span asp-validation-for="Title" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" />
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Image"></label>
            <input asp-for="Image" />
            <span asp-validation-for="Image" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="ClubCategory"></label>
            <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()">
                <option>--Select--</option>
            </select>
            <span asp-validation-for="ClubCategory" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Address.Street"></label>
            <input asp-for="Address.Street"/>
            <span asp-validation-for="Address.Street" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Address.City"></label>
            <input asp-for="Address.City" />
            <span asp-validation-for="Address.City" class="text-danger" />
        </div>
        <div class="form-group">
            <label asp-for="Address.State"></label>
            <input asp-for="Address.State" />
            <span asp-validation-for="Address.State" class="text-danger" />
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

