@model IEnumerable<Race>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<<div class="container">

    <div class="row">
        @foreach (Race item in Model)
        {
            <h3>@item.Title</h3>
            <p>@item.Description</p>
            <p>@item.RaceCategory</p>
            <a asp-controller="Race"
                    asp-action="Detail"
                    asp-route-id="@item.Id"
                    type="button">
                View
            </a>
            <a>Edit</a>
        }


    </div>
</div>
